* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #263238;
  width: 100vw;
  padding: 20px 0px 20px 0px;
}

.movieIcon {
  padding-left: 50px;
  color: #eceff1;
}

.appTitle {
  padding-left: 20px;
  color: #eceff1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3dadf;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

h1,
p {
  color: #37474f;
}
